## Purpose 
### Chi2_contingency : 
####                             To find relationship between two categorical variable(or check independence of two categorical variables)
### Correlation
####                            To find relationship between two numrical variable

### chi2_contingency
#### Null Hypothesis (H0): The two categorical variables are independent.
#### Alternative Hypothesis (H1): The two categorical variables are dependent (i.e., there is an association between them).

##### The chi-square statistic (chi2) measures the discrepancy between observed and expected frequencies.
##### The p-value (p) tells you the likelihood of observing the data if the variables were independent.
##### Degrees of freedom (dof) indicate the number of independent pieces of information available in the data.
##### Expected frequencies (expected) are the frequencies expected in each cell under the assumption of independence.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('tips')
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
data_cross = pd.crosstab(data['sex'],data['smoker'])
data_cross

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [4]:
from scipy import stats

In [5]:
chi2,p,dof,expected = stats.chi2_contingency(data_cross)

In [7]:
print('chi2',chi2,'p',p,'dof',dof,'expected',expected)

chi2 0.0 p 1.0 dof 1 expected [[59.84016393 97.15983607]
 [33.15983607 53.84016393]]

##### p>0.05 , Accept Null hypothesis, two variables are independent here, there in no relationship between them

### Correlation test
#### Correlation Coefficient (r): This value ranges from -1 to 1 and indicates the strength and direction of the linear relationship between two variables.

##### A positive value (closer to 1) indicates a positive correlation, meaning that as one variable increases, the other variable tends to increase as well.
##### A negative value (closer to -1) indicates a negative correlation, meaning that as one variable increases, the other variable tends to decrease.
##### A value close to 0 indicates a weak or no linear correlation between the variables.

### p-value
##### if f the p-value is less than the significance level (e.g., 0.05), you can say that the correlation is statistically significant.
##### If the p-value is greater than the significance level, you cannot reject the null hypothesis, and you conclude that there is insufficient evidence to claim a statistically significant correlation.

In [11]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
r,p = stats.pearsonr(data['total_bill'],data['tip'])
print ('r',r)
print('p',p)

r 0.6757341092113642
p 6.6924706468640476e-34

### Conclution : there positive linear  correalation between two variable